site_name: Entangled

plugins:
  - search
  - bibtex:
     bib_file: "refs.bib"
  - entangled

markdown_extensions:
  - admonition
  - footnotes
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences 

theme:
  name: material
  custom_dir: docs/overrides
  logo: assets/logo.svg
  palette: 
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to system preference

    # Palette toggle for light mode
    - scheme: slate
      primary: teal
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode
      media: "(prefers-color-scheme: dark)"

    # Palette toggle for dark mode
    - scheme: default
      primary: teal
      toggle:
        icon: material/brightness-7
        name: Switch to light mode
      media: "(prefers-color-scheme: light)"
